@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins/poppins-bold-webfont.woff2') format('woff2'),
    url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

$system-primary: #d8a43d;
$system-primary-active: #c08821;

.color-red-700 {
    color: #d32f2f !important;
}

div.dt-buttons {
    position: absolute;
    top: 15px;
    right: 2.25rem;
}
div.dt-buttons button{
    background-image: none !important;
    background-color: transparent !important;
    border: transparent !important;
    padding: 5px !important;
}

.fa-file-pdf{
    color: #ff0801 !important;
}

.fa-file-excel,.fa-file-text, .fa-file-csv {
    color: #0b9444 !important;
}

.main_section_heading{
    background-color: #404040;
    padding: 10px 10px;
    color: white;
    font-size: 18px;
}
.section_heading {
    padding: 5px 0 4px 0px;
    margin-bottom: 0;
    color: white;
    background: white;
    border-bottom: 4px solid #01603B;
}
.section_heading span {
    text-align: center;
    background: #01603B;
    padding: 8px 20px 5px 20px;
    font-size: 14px;
    font-weight: 600;
}
.section_box{
    padding: 30px;
}

.v-select-custom{
    .vs__search::placeholder {
        color: #a2a4b7;
    }
}

.pagination-info{
    font-weight: 500;
    color: #5e6278;
    padding: 0.5rem 0;
}

/* Begin: Auth Layout */
.auth-bg{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.auth-logo-title{
    font-family: Poppins, serif;
    font-weight: 700;
    color: $system-primary;
    font-size: 29px;
}
.auth-logo-subtitle{
    font-size: 20px;
    color: $system-primary;
}
.auth-logo-caption{
    font-size: 15px;
    color: $system-primary;
}
.auth-btn{
    background-color: $system-primary;
    color: #ffffff;
    span{
        color: #ffffff;
    }
    &:hover, &:active{
        background-color: $system-primary-active;
    }
}
.auth-link{
    color: $system-primary;
    &:hover {
        color: $system-primary-active !important;
    }
}
.auth-color{
    color: $system-primary;
}
.auth-hover-color{
    &:hover {
        color: $system-primary-active !important;
    }
}
.auth-footer{
    div span{
        color: $system-primary;
        a {
            color: $system-primary;
            &:hover {
                color: $system-primary-active;
            }
        }
    }
}
/* End: Auth Layout */
